! Configuration File for keepalived

global_defs {
   notification_email {
     sysadmin@mydomain.com
     support@mydomain.com
   }
   notification_email_from lb1@mydomain.com
   smtp_server localhost
   smtp_connect_timeout 30
}

vrrp_instance VI_1 {
    state MASTER
    interface ens3
    virtual_router_id 111
    priority 101
    advert_int 1
    authentication {
        auth_type AH
        auth_pass 123456
    }
    virtual_ipaddress {
        10.2.3.208
    }
}
